[2022-07-11 12:03] adamjtaylor opened #18 "`shiny-depoy` action fails"
**Describe the bug**
A clear and concise description of what the bug is.
Github action `shiny-deploy` to deploy data curator to production [failed during `Install R package dependencies step`](https://github.com/ncihtan/HTAN-data-curator/actions/runs/2625556786/attempts/1)
Last lines of output below. I think this means that the github auth token is expired.

[code]

**To Reproduce**
Steps to repro

[2022-07-11 12:05] adamjtaylor commented on #18
Secrets are set in [line 27](https://github.com/ncihtan/HTAN-data-curator/blob/main/.github/workflows/shinyapps_deploy.yml#L27) of `shinyapps_deploy.yaml` as the variable `secrets.REPO_PAT`
In secrets management `REPO_PAT` was last updated on 28 Feb

[2022-07-11 12:06] adamjtaylor commented on #18
Last successful run was on 6 June, first failed run was on 7 June, so possibly the PAT expired in this period. This is 100 days which might make sense as a round number for PAT validity

[2022-07-11 12:12] adamjtaylor commented on #18
FYI @milen-sage  - I'm not sure what scope the github PAT needs to have - is it installing from a private repo?

[2022-07-11 12:16] adamjtaylor commented on #18
It looks like it is just installing two packages with `remotes::install_github`

[code]
None of these are private, so any github PAT should work. I will try replacing the `REPO_PAT` secret with a new PAT from my own account.

[2022-07-11 12:23] adamjtaylor commented on #18
PAT created by @adamjtaylor with no additional permissions and added as `REPO_PAT` secret.
Failed action relaunched.

[2022-07-11 12:42] adamjtaylor commented on #18
Using the new PAT led to successful completion of the `shiny-deploy` action.

[2022-07-11 12:44] adamjtaylor commented on #18
Closing the issue as this appears fixed.
@aclayton555 can we add to a future HTAN/FAIR data workstream meeting to check in who owns all the secrets required and how they are reset if they time out.

[2022-07-11 12:44] #18 closed, assigned to adamjtaylor

[2022-07-11 12:52] adamjtaylor opened #19 "Switch from storing non-file information as entities to tables"
This issue serves as a placeholder to document the changeover from storing non-file information as annotated folder entities in Synapse, to rows within Synapse tables.

First testing for TMA TNP:
- [x] Create project for the new entities `HTAN entity archive`  syn32792683
- [x] Run script to copy existing entities to tables
- [x] Run script to move entites to archive
- [x] Create fileview
- [ ] Op

[2022-07-11 12:54] adamjtaylor commented on #19
Switching `assay` -> `file` and `entity` -> `record` in the config file is captured in PR #9

[2022-07-13 20:04] aclayton555 commented on #18
Thanks! I have noted this for our next HTAN/FAIR Stakeholder meeting

[2022-07-18 20:23] clarisse-lau opened #22 "App disconnects at submission"
**Describe the bug**
App disconnects after clicking submit for MSK MIBI Imaging Level 2 template

**To Reproduce**
Steps to reproduce the behavior:
1. From 'Select your Dataset' tab of staging app, select `HTAN MSK` for Project, `mibi_level_2` for Folder, and `ImagingLevel2` for Template
2. Under Submit & Validate Metadata tab, upload attached csv
[HTA8 MSK MIBI HTAN Imaging Level 2.csv](https://g

[2022-07-18 20:27] rrchai commented on #22
Pulling the errors from the logs of HTAN production site:
[code]

[2022-07-18 20:29] clarisse-lau commented on #22
Also disconnecting with the HMS imaging_level_2 manifest
[HTA7 HMS HTAN Imaging Level 2.csv](https://github.com/ncihtan/HTAN-data-curator/files/9135574/HTA7.HMS.HTAN.Imaging.Level.2.csv)

[2022-07-19 12:46] adamjtaylor commented on #22
The common thread I can see between these manifests involving Protocol link is that they all contain comma separated values for at least some rows. I will see if I can test in an example dataset

[2022-07-19 13:10] adamjtaylor commented on #22
I can confirm that the issue seems to be having comma separated values contained within protocol links.
In a 1 line example manifest for HTAN Center C / imaging_level_2, having one entry in `Protocol Link` works (`https://doi.org/10.1016/j.ccell.2021.09.008`), while entering comma separated list of two values fails (`"https://doi.org/10.1016/j.ccell.2021.09.008,https://www.biorxiv.org/content/10.1

[2022-07-19 13:12] adamjtaylor commented on #22
The same error can be replicated by having a comma separated list in any column.

[2022-07-19 13:13] adamjtaylor commented on #22
Note that `list` or `list like` validation rules are not implemented for `Protocol Link`. No validation rules are set

[2022-07-19 18:37] mialy-defelice commented on #22
@adamjtaylor I am testing this through the CLI. Can I confirm you are using the [ most recent HTAN data model](https://raw.githubusercontent.com/ncihtan/data-models/main/HTAN.model.jsonld)?

[2022-07-19 18:43] adamjtaylor commented on #22
@mialy-defelice in our current state, staging is deployed from the [most recent HTAN data model](https://raw.githubusercontent.com/ncihtan/data-models/main/HTAN.model.jsonld), while production was last built from the [last tagged version](https://github.com/ncihtan/data-models/tree/v22.07.1).
Failure is the same for both (I believe)

[2022-07-19 18:52] adamjtaylor commented on #22
@mialy-defelice Staging will actually be using the data model 1 commit behind: https://github.com/ncihtan/data-models/tree/ea201c7d4cb093c08cd841652623ec41e5d9d812

[2022-07-19 20:21] mialy-defelice commented on #22
@adamjtaylor I am having trouble replicating your error. Do you know what version of Schematic you are working from?

[2022-07-19 20:25] adamjtaylor commented on #22
Per the github action I think the develop branch

https://github.com/ncihtan/HTAN-data-curator/blob/c20bd37ca2ccf691a92225f241f8eb58f1c1a398/.github/workflows/shinyapps_deploy.yml#L57

[2022-07-19 20:40] mialy-defelice commented on #22
@adamjtaylor Okay, I'm using develop and tested it through the API as well. Its getting validation errors, but they look like they are related to[ this issue](https://sagebionetworks.slack.com/archives/C01ANC02U59/p1657659942159889) that Robert was having.

[code]

I can't find that Robert actually created a ticket for this ^ issue. I'll talk to @milen-sage about reproducing this error when we mee

[2022-07-19 20:42] adamjtaylor commented on #22
The errors with int validation you raised are known and separate.... I think @clarisse-lau must have been fixing locally before submitting.

Are you able to replicate with the smaller test manifest's I linked above?: https://github.com/ncihtan/HTAN-data-curator/issues/22#issuecomment-1189034443
These can be tested with HTAN Center C and the imaging_level_2 folder

[2022-07-19 20:51] clarisse-lau commented on #22
The columns with int validation errors (PlaneCount, SizeC, SizeT, SizeX, SizeY, SizeZ) were corrected in the G sheets and should be reflected in the files attached above.

I haven't been getting validation errors related to FOV number; the column is empty in both MSK and HMS tables.

[2022-07-19 20:54] adamjtaylor commented on #22
Humm.. in the test dataset FOV are empty... not sure why that is now failing validation for you @mialy-defelice!

[2022-07-19 20:55] mialy-defelice commented on #22
I am only getting a `FOV number` validation error (with the smaller manifest), but again its not a true error like you are seeing.

[code]

The FOV error seems a lot like Roberts error where for some reason not supplying a value raises a validation error. I wonder if we are somehow still working from different versions of Develop. I think Robert is always pulling the latest version.

[2022-07-19 21:02] rrchai commented on #22
I just tested to validate the [manifest](https://github.com/ncihtan/HTAN-data-curator/files/9135532/HTA8.MSK.MIBI.HTAN.Imaging.Level.2.csv) in the [production site](https://sagebio.shinyapps.io/HTAN-data-curator/). The app didn't get disconnected and here were the errors:
<img width="1194" alt="Screen Shot 2022-07-19 at 4 56 13 PM" src="https://user-images.githubusercontent.com/73901500/179846906-

[2022-07-19 21:10] adamjtaylor commented on #22
@rrchai and @mialy-defelice are you able to replicate with the following manifest (taken from my comment above) built as a minimal example of the Protocol Link Key error described, in either staging or production when submitting to HTAN Center C with the Imaging level 2 folder and template?

[centerC_imagingL2_2protocols_fails.csv](https://github.com/ncihtan/HTAN-data-curator/files/9141268/centerC

[2022-07-19 21:43] rrchai commented on #22
yes, I can reproduce the error with the test file in dca during the submission.

[2022-07-19 21:58] mialy-defelice commented on #22
Shoot for some reason I read your initial request incorrectly and thought the error was at Validation and didn't realize it was with submission. I see the title now.
Going to start testing now.

[2022-07-19 22:05] mialy-defelice commented on #22
Okay I reproduced the error!! So sorry for the mixup!

[2022-07-20 00:19] mialy-defelice commented on #22
A quick update, I located what was causing the error and am working on a fix to be ready for code review tomorrow.

[2022-07-21 20:19] mialy-defelice commented on #22
[This PR](https://github.com/Sage-Bionetworks/schematic/pull/831) addresses this issue so closing now :)

[2022-07-21 20:39] clarisse-lau commented on #22
Thanks @mialy-defelice,
I just tried to submit the MSK mibi sheet again and am still having some issues.

I tried first on staging with the above csv. It passed validation, then disconnected at submission.
With prod I changed FOVX and FOVY to float to pass validation, and it again disconnected. Do you have any advice?

[2022-07-21 20:54] adamjtaylor commented on #22
@clarisse-lau I'll kick start a rebuild of the HTAN DCA which should implement the fix by using the latest schematic... at least in staging. Prod will wait for a tagged release.

[2022-07-21 20:55] adamjtaylor commented on #22
Ah @rrchai already triggered it (thank you!) and it just finished so the fix should now be live in staging

[2022-07-21 21:05] rrchai commented on #22
no problem @adamjtaylor. I tested in the staging site, which I found another bug during submission.
[code]

That is because the [schematic fix](https://github.com/Sage-Bionetworks/schematic/pull/831) added an extra param for the `associateMetadataWithFiles()`. However, the function in DCA doesn't use param name somehow and it will complain `datasetId` param not able to be found:
https://github.com

[2022-07-21 21:06] adamjtaylor commented on #22
Reopening while we hunt this bug down. Thank you!

[2022-07-21 21:48] milen-sage commented on #22
@mialy-defelice this looks related to how the [fix](https://github.com/Sage-Bionetworks/schematic/pull/831) requires and uses the SchemaGenerator-related parameter?

[2022-07-21 21:59] mialy-defelice commented on #22
Yes @rrchai I forgot the DCA calls these functions differently. The Path the the JSONLD needs to be provided now when using `metadata.py` to submit the manifest. I'm unsure how the DCA does this but in the schematic CLI we do the following:

[code]
manifest.py would then instantiate the `SchemaGenerator` object in its `__init__` then this is provided to `associateMetadataWithFiles`.

If you are ca

[2022-07-21 22:34] milen-sage commented on #22
@rrchai I see you've added the parameter names in this [PR](https://github.com/Sage-Bionetworks/data_curator/pull/374/files). But it looks like the method `associateMetadataWithFiles` is still not called with the SchemaGenerator object @mialy-defelice mentioned above?

[2022-07-21 22:57] rrchai commented on #22
@milen-sage ah thanks for reminding. I was misunderstood that I thought `SchemaGenerator` will be automatically acquired in the function. I have updated to add the `SchemaGenerator` arg in the pr now - [a4a106](https://github.com/Sage-Bionetworks/data_curator/pull/374/commits/a4a10612598d4ddf5d5f77e374c2567a81a7ea41).

In this case, does that mean we would also need endpoint on the `SchemaGenerato

[2022-07-28 18:12] clarisse-lau commented on #22
Hi @mialy-defelice @rrchai, are there any updates on this issue? I tried to submit the MSK manifest yesterday and was again disconnected. Thanks!

[2022-07-28 18:55] aclayton555 opened #25 "Publications manifest testing: unable to upload and validate"
**Describe the bug**
Currently testing the new publications manifest in staging before sharing more widely with centers, and have encountered errors with trying to submit and validate the manifest. [In a separate issue](https://github.com/ncihtan/data-models/issues/76) I have described some issues with the manifest itself, so I am not sure if these are related. I have included screenshots and atta

[2022-07-28 20:09] rrchai commented on #25
Here's the error:
[code]

[2022-07-28 22:50] mialy-defelice commented on #25
@GiaJordan This looks like an issue with trying to raise an error when a random value is entered instead of a URL.

[2022-07-28 23:51] rrchai commented on #22
Sorry @clarisse-lau @adamjtaylor, I should've notified earlier.  Please feel free to sync up with `develop` branch of upstream directly for this time. The fix was merged in the `develop` branch.

[2022-07-29 15:17] #22 closed, assigned to mialy-defelice

[2022-07-29 16:40] GiaJordan commented on #25
@mialy-defelice thanks for the notification!
@aclayton555 and @adamjtaylor, addressed in [#844](https://github.com/Sage-Bionetworks/schematic/pull/844)
**cc** @milen-sage @ychae

[2022-08-10 17:46] clarisse-lau opened #27 "Out of Date validation error"
**Describe the bug**
Hi all, thanks for your help resolving https://github.com/ncihtan/HTAN-data-curator/issues/22. I'm now running into an 'Out of Date' error with the OHSU imaging level 2 manifest.

**To Reproduce**
Steps to reproduce the behavior:
1. From 'Select your Dataset' tab of staging app, select `HTAN OHSU` for Project, `imaging_level_2` for Folder, and `ImagingLevel2` for Template
2. U

[2022-08-11 18:44] clarisse-lau commented on #27
Thanks for the tips, @adamjtaylor @milen-sage
Unfortunately I'm still getting the same error after removing Workflow Start Datetime and Workflow End Datetime from the table.

I'm not noticing any obvious discrepancies between required columns in the schema and the manifest, but I'm probably missing something...

[2022-08-12 17:18] adamjtaylor commented on #27
Pulling the logs when trying to submit this the logs do not appear to caputre any obvious errors

[code]

[2022-08-15 16:23] adamjtaylor commented on #25
@aclayton555, the fix that @GiaJordan mentions above should have been pulled into the staging instance of the DCA in PR #26.

Can you try and resubmit and tell me if you see the same error (in staging)

[2022-08-17 13:58] rrchai commented on #27
@milen-sage  Here is the traceback regarding the "out of date" error:

[code]

[2022-08-18 01:12] milen-sage commented on #27
Thanks @rrchai - this is very helpful!

@adamjtaylor this error is interesting. It looks like there is a problem with the character set in the manifest, or the file has been corrupted. Could you or someone in HTAN reopen it in openoffice or google sheets and re-export it to csv to try again the submission. If that doesn't work could you take a look at the symbols used for image resolutions; in the

[2022-08-22 07:01] adamjtaylor commented on #27
Thanks @rrchai and @milen-sage.
[`0xb5` is indeed the extended ASCII greek character `µ`.](https://bytetool.web.app/en/ascii/code/0xb5/)
This seems to having been used in `PhysicalSizeXUnit` and `PhysicalSizeYUnit`
(although for some reason on import to google sheets this was displaying as the Han character `祄` - so maybe there was some underlying corruption)

Replacing with `µm` per the valid val

[2022-08-22 16:32] clarisse-lau commented on #27
Thanks all!
I just tried submitting Adam's corrected table to the staging app. It passed validation, but I was disconnected at submission. It also doesn't pass validation on prod as the channel metadata files are not all csvs.

[2022-08-22 18:00] adamjtaylor commented on #27
Here is the shiny logs for the disconnect on submission of the above manifest in staging:
[code]

[2022-08-23 19:44] aclayton555 opened #28 "Reinstate files accidentally moved in table transfer"
**Describe the bug**
Filing this ticket among multiple outages (Adam, Mialy, Milen). This stems from discussion on the dcc_operations HTAN Slack channel following this time: https://htanworkspace.slack.com/archives/C03E345AMLK/p1661186303347379
In summary, it looks like quite a few of the Vanderbilt center data files are missing ([see example of this empty folder,](https://www.synapse.org/#!Synaps

[2022-08-26 02:19] vthorsson commented on #28
Is there progress on finding a route/person to work on this one @milen-sage @aclayton555 ? Sounds like the problem has been identified and hopefully no data files lost -  but even an outward appearance of missing data can (justifiably) be concerning to people

[2022-08-26 13:07] adamjtaylor commented on #28
I'm back from leave and will move the Vanderbilt files that I can identify back as a first fix.
We can then more rigorously identify any other files that were archived and make sure this does not happen in subsequent moves of projects clinical and biospecimen records to tables.

[2022-08-26 14:56] adamjtaylor commented on #28
I have a notebook setup to search manifests for out of place files and move them back.
Unfortunately it looks like the entity archive project was setup with only @mialy-defelice as admin with @milen-sage and I only having download and not move privileges.

Unfortunately the file reinstatement will have to wait until @mialy-defelice is back from leave on Monday 29th

[2022-08-26 17:53] adamjtaylor commented on #27
Discussing with Ashley I think this could be a symptom of a validation rule assuming a value is a string when it has actually been cast as as num or int.

I can try submitting through the schematic cli to rule out a DCA issue, but otherwise will need FIAR data support.

Any other smart ideas @rrchai while @milen-sage is out?

[2022-08-26 19:20] rrchai commented on #27
I can reproduce what @clarisse-lau experienced ^.

I think it's because `--restrict_rules`. We set the `restrict_rules=True` in the validation to avoid the conflicts between the `reticulate` of R and `great_expectation` of python, but we haven't added the restrictions for the submission related functions in DCA. It could be the reason why the validation passed, but submission failed.  See the exam

[2022-08-26 20:27] vthorsson commented on #28
Thanks @adamjtaylor !

[2022-08-26 22:17] rrchai commented on #27
Update:

Unfortunately, adding `restriction` to submission functions didn't solve the `.str` errors.

By reading this [ticket](https://github.com/Sage-Bionetworks/schematic/issues/870), I think the mixed types in the column "WorkingDistance" is the cause of the `.str` errors.

Just for testing:  if I change all `0.55` to `1` in "WorkingDistance" ([test.csv](https://github.com/ncihtan/HTAN-data-cur

[2022-08-29 10:59] adamjtaylor commented on #27
Thanks @rrchai
I think we can remove the 'int' validation rule from `FOV number` for now as it is a rarely used non-required column.
is there plans to facilitate validation rules for non required columns?

I think the right initial approach for the mixed types is to change `0.55` `mm` for `WorkingDistance` and `WorkingDistanceUnit` to `550` `um`, while a longer term solution to mixed types is impl

[2022-08-29 11:36] adamjtaylor commented on #27
I've resubmitted successfully with changing change 0.55 mm for WorkingDistance and WorkingDistanceUnit to 550 µm.

@clarisse-lau I think we are OK now for the OHSU manifest to be included in the CDS template

[2022-08-29 15:51] adamjtaylor commented on #25
This looks to now be fixed. Resubmitng the manifest in staging results in 4 expected validation errors.
@aclayton555 if this seems correct please close the issue.
![image](https://user-images.githubusercontent.com/14945787/187241994-d04b1b99-c8f4-40d4-a1dd-3af7aa84cedd.png)
![image](https://user-images.githubusercontent.com/14945787/187242049-74ad1348-67d7-49be-bbc3-405507aa22e6.png)

[2022-08-29 17:10] clarisse-lau commented on #27
Thank you @adamjtaylor @rrchai!

[2022-08-29 22:48] milen-sage commented on #28
~~Reaching out to the Synapse team to check how we can add me and @adamjtaylor as admins on [HTAN Entity Archive project](https://www.synapse.org/#!Synapse:syn32792683/files/).~~

[2022-08-30 00:23] milen-sage commented on #28
@mialy-defelice changed access permissions on the project - we are good to go. Thanks @mialy-defelice!!

[2022-08-30 07:31] adamjtaylor commented on #28
Thanks @mialy-defelice!
I will run the scripts to check for and move missing files later this morning.
@vthorsson I will let you know when complete.

[2022-08-30 07:31] vthorsson commented on #28
Thanks @mialy-defelice and @milen-sage . I am still not seeing the files though.
<img width="1489" alt="Screen Shot 2022-08-30 at 12 58 44" src="https://user-images.githubusercontent.com/2837859/187376789-b4224848-9b5c-44bf-9ce2-3eed013500c8.png">

[2022-08-30 07:36] vthorsson commented on #28
Ah thanks @adamjtaylor for doing the additional step needed

[2022-08-30 10:01] adamjtaylor commented on #28
Confirmed that I can move back in place.
Functions used archived in [this Gist](https://gist.github.com/adamjtaylor/c121d85dcfa939820fd043b6d56981c9)

I believe it is only Vanderbilt that is effected by this issue.

I will update this comment as Vanderbilt entities are moved back into place [Now complete]
- [x] whole_exome_seq_level_1: 95 items returned
- [x] whole_exome_seq_level_2: no missing it

[2022-08-30 13:36] vthorsson commented on #28
Thanks @adamjtaylor !

[2022-08-30 13:40] adamjtaylor commented on #28
Thanks @vthorsson. This is now complete for all of Vanderbilt's manifests that relate to files rather than records.

I'll close this issue - @milen-sage if you could add a comment as to where the fix in the transfer script is being tracked that would be great.

[2022-08-30 13:40] #28 closed, assigned to adamjtaylor, milen-sage

[2022-08-30 17:12] aclayton555 commented on #25
@adamjtaylor I just tested and I see the same expected errors. So this appears to be resolved, but raises a separate question: One of the errors I receive is `HTAN Publication ID` is too short. When we put together this schema, `HTAN Publication ID` is supposed to be "Synapse entity ID of the content presented/published (auto-generated by DCC)." As of right now, an external user cannot submit this

[2022-08-31 01:01] milen-sage commented on #25
Glad to see this is working as expected now.

@aclayton555 that's a good question... I can see pros and cons for going either with explicitly provided HTAN ID so that each publication can be linked to other data later on; or, dropping the publication ID attribute as a requirement; and instead use automatically generated Synapse table-row IDs; these IDs also can be used  later on for linking public

[2022-08-31 01:37] milen-sage commented on #28
Fix tracked [here](https://github.com/Sage-Bionetworks/schematic/issues/861) - we are working on it this sprint.

[2022-08-31 01:43] milen-sage commented on #27
Thank you all! We are thinking about a longer term fix for columns with mixed data - this interacts with how Synapse handles them in Synapse tables as well and may be an issue for the Synapse python client and not schematic. We'll keep you up to date; relevant issue related to this is [here](https://github.com/Sage-Bionetworks/schematic/issues/870)

[2022-08-31 09:15] adamjtaylor commented on #27
Many thanks @milen-sage, @rrchai and @clarisse-lau!
Closing this issue

[2022-08-31 09:15] #27 closed, assigned to nobody

[2022-08-31 09:25] adamjtaylor commented on #25
I'm happy that we can drop an explicit `HTAN Publication ID` there are plenty of unique identifiers accross the table including the table row ids that we could use for any future joins.

[2022-09-27 14:54] adamjtaylor opened #29 "SRRS experiencing disconnect from server"
**Describe the bug**

Hannah Schumann at SRRS reported trouble submitting metadata

@adamjtaylor pulled the Shiny logs from this event (below).

[code]

**Priority** (select one)
- [x] Critical 🆘

**Screenshots**
If applicable, add screenshots to help explain your problem.

Screen shot provided by Hannah
![image](https://user-images.githubusercontent.com/14945787/192560949-e441cf40-cf74-4191-8319-

[2022-09-27 16:21] adamjtaylor commented on #29
I think this is a duplicate of #22, fixed in #26  - however this hasn't been deployed to prod yet because of the table conversion scheduled for next week.

[2022-10-07 21:04] clarisse-lau opened #31 "Disconnect at submission: biospecimen and demographics"
**Describe the bug**
A collaborator is encountering a server disconnect error at submission for biospecimen and demographics tables. I was able to submit the files through staging, but got the same error on the production app.

**To Reproduce**
Steps to reproduce the behavior:
1. From 'Select your Dataset' tab of, select `HTAN Vanderbilt` for Project, `biospecimen` for Folder, and `Biospecimen` fo

[2022-10-10 16:48] milen-sage commented on #31
@clarisse-lau we'll take a look at the app logs and triage today.

[2022-10-11 19:30] aclayton555 commented on #25
I filed a separate issue to track the HTAN Publication ID fix (https://github.com/ncihtan/data-models/issues/100). Proceeding to close this issue.

[2022-10-11 19:30] #25 closed, assigned to adamjtaylor

[2022-10-13 15:54] adamjtaylor opened #34 "Update secret variable names"
It looks like that in merging #33 some of the secret names have changed.

![Screenshot 2022-10-13 at 16 51 02](https://user-images.githubusercontent.com/14945787/195645630-a98a099a-37ce-4bdf-ac6d-e378b2ac8e23.jpg)

[2022-10-13 15:55] adamjtaylor commented on #34
FYI @milen-sage - are the secrets we need to update/change documented somewhere?

[2022-10-13 16:16] milen-sage commented on #34
@adamjtaylor I think[ this section ](https://github.com/Sage-Bionetworks/data_curator/blob/main/shinyapps_deploy.md#add-github-secrets) might help. @rrchai do you think GITHUB_TOKEN doc belongs there?

[2022-10-13 16:27] milen-sage commented on #34
The above is linked from the main docs' [deployment section](https://github.com/Sage-Bionetworks/data_curator#deployment).  The deployment section mainly describes how to setup CI/CD so all the steps should already be taken care off in thet upstream repo from the point of view of downstream forks. But I see how it's relevant, and perhaps needs to be extended for more detail, for situations when ch

[2022-10-13 17:19] rrchai commented on #34
@adamjtaylor You should be able to access the `GITHUB_TOKEN` without adding it to the secret.

see [this pr](https://github.com/Sage-Bionetworks/data_curator/pull/398)

[2022-10-13 17:22] rrchai commented on #34
@milen-sage it looks like the doc has not been updated with the `GITHUB_TOKEN` yet

[2022-10-18 17:50] adamjtaylor commented on #34
I'm happy we can now close this with no required actions

[2022-10-18 17:50] #34 closed, assigned to nobody

[2022-10-18 18:19] adamjtaylor commented on #31
Confirmig that this is still failing in current `staging` instance which should be level with `data_curator` main as of 5 days ago.

Shiny logs:
[code]

[2022-10-18 18:31] adamjtaylor commented on #29
Currently manifest fails validation with error procesing days from index cannot be 'unknown'
It is required and validated by an `int` validation rule
In manifest there are `unknown` high numbers eg `24030` and `0` -  which could be a valid value if processed on day of patients birth but seems unlikely

[2022-10-25 15:35] milen-sage commented on #31
It looks like this has to do with manifest submission as a table. I think I was able to reproduce with the CLI using the biospecimen manifest attached here, the [HTAN data model ](https://github.com/ncihtan/data-models), and mrt set to table. But @GiaJordan you might want to try reproducing again with the latest version of schematic; it looks like it'd be a quick fix - there is a null reference so

[2022-10-27 16:55] GiaJordan commented on #31
Related to [#951](https://github.com/Sage-Bionetworks/schematic/issues/951) and [#954](https://github.com/Sage-Bionetworks/schematic/issues/954)

[2022-10-27 20:32] GiaJordan commented on #31
Addressed in [#989](https://github.com/Sage-Bionetworks/schematic/pull/989)
@clarisse-lau @adamjtaylor
cc @milen-sage

[2022-10-27 20:34] adamjtaylor commented on #31
Thanks @GiaJordan. I'm going to reopen this issue (but no action required on your behalf at this time) so that we can track its deployment into staging and production in the HTAN DCA once. FYI @aclayton555 and @elv-sb

[2022-10-27 22:16] milen-sage commented on #31
@adamjtaylor would be good to test with the develop branch on the testing DCA instance. We'll release that in schematic 22.10.3 or 22.11.1 and you can test in staging as well.

[2022-10-31 17:17] adamjtaylor opened #35 "SRRS disconnect at submission for biospecimen"
Reported in meeting with SRRS and in HSD-51. Possible duplicate of #31

[2022-10-31 17:18] adamjtaylor commented on #35
Closed as duplicate of #29

[2022-10-31 17:18] #35 closed, assigned to nobody

[2022-10-31 17:21] adamjtaylor opened #36 "Crash on getting diagnosis template"
Reported in HTAN-117

I have been able to access and download other templates without this problem, i.e. Biospecimens, Clinical Tier 1_Follow up, etc.
Do you have any recommendations?

Tracked in schematic here: https://github.com/Sage-Bionetworks/schematic/issues/888

[2022-10-31 18:54] aclayton555 commented on #31
Should be fixed in 22.10.3 - @milen-sage to confirm

Confirm that this has been fixed at the end of this sprint - @adamjtaylor

[2022-11-03 14:43] adamjtaylor commented on #31
Redeployed DCA on staging to take the latest schematic (22.10.3)
Looks from testing on BU ScRNAseq L1 template that this bug is fixed.

[2022-11-03 14:52] adamjtaylor commented on #31
Unfortunately the biospecimen example here still causes a disconnect

[2022-11-03 14:55] adamjtaylor commented on #31
Shiny logs warn about [syn34416889](https://www.synapse.org/#!Synapse:syn34416889/tables/) which is the associated synapse table
[code]

[2022-11-03 15:11] adamjtaylor commented on #31
On a second attempt at submitting the manifest (after reloading the staging DCA) I was able to successfully submit the metadata.

[2022-11-03 15:14] adamjtaylor commented on #31
@aclayton555 , @elv-sb Going to close and mark `in staging` - there is no lined PR as it was a schematic fix.

@clarisse-lau  This should get moved up to production at the end of our data model sprint at the end of the month. If the center has data blocked by this they are able to submit the metadata through the staging DCA at this time.

[2022-11-03 15:14] #31 closed, assigned to adamjtaylor, GiaJordan

[2022-11-03 15:20] adamjtaylor commented on #36
This appears now fixed in staging following the recent rebuild to use schematic 22.10.3 in staging. Will move to production in the next update (planned for the end of Nov.

[2022-11-03 15:20] #36 closed, assigned to adamjtaylor

[2022-11-03 15:50] GiaJordan commented on #31
@adamjtaylor thank you for confirming. RE: the table error, please reach out to me if you continue to have issues. I've currently reached out to the Synapse team for a more robust solution tracked [here](https://sagebionetworks.jira.com/plugins/servlet/mobile?originPath=%2Fbrowse%2FSYNPY-1239#issue/SYNPY-1239). But there is a more specific fix we can make in the mean time, but at the cost of perfo

[2022-11-07 17:21] adamjtaylor opened #37 "Project folder list stuck on 'Generating'"
**Describe the bug**
DCA does not list available folders... instead shows "Generating" (see screenshot below.
Also a significant >1 min delay in the synapse load screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://sagebio.shinyapps.io/HTAN-data-curator-staging/ or https://sagebio.shinyapps.io/HTAN-data-curator/
2. Click on '>>>'
4. See that the Folder dropdown says `Generat

[2022-11-07 17:27] adamjtaylor commented on #37
OK. Error here was me not selecting a project... When I do it does list the folders promptly. (But it would be a good UI improvement to make the text clearer.

[2022-11-07 19:58] clarisse-lau opened #38 "Disconnect at Submission: Vanderbilt ScRNA-seq L1 & L2"
**Describe the bug**
Vanderbilt collaborator reports the app disconnects after hitting submit
(CL confirmed behavior in both staging and production apps)

**To Reproduce**
Steps to reproduce the behavior:
1. In DCA: select Vanderbilt, single_cell_RNAseq_level_1 , single cell level 1 template
2. Upload template (attached below)
3. Template validates without error
4. App disconnects at submission

*

[2022-11-07 21:09] adamjtaylor commented on #38
Thanks for reporting @clarisse-lau
This does look to possibly be a table issue as it is crashing on something around a table uuid.

FYI @milen-sage and @elv-sb.

Shiny logs:

[code]

[2022-11-07 21:20] aclayton555 commented on #37
@adamjtaylor have you already submitted a ticket through the FAIR JIra desk?

[2022-11-07 21:22] adamjtaylor commented on #37
Issue can be closed because this was me just forgetting how to use DCA.

🤦

Will open separate issue for next sprint to monitor DCA performance which may needs FAIR escalation but this can be closed

[2022-11-07 21:22] #37 closed, assigned to adamjtaylor

[2022-11-09 17:18] adamjtaylor commented on #38
Should submit as a FAIR data service desk ticket.

[2022-11-10 00:17] aclayton555 commented on #38
Issue filed with FAIR: https://sagebionetworks.jira.com/servicedesk/customer/portal/5/IBCSPRT-100

[2022-11-11 18:08] GiaJordan commented on #38
Confirming receipt of this issue by FAIR data

[2022-11-11 19:46] GiaJordan commented on #38
Addressed in https://github.com/Sage-Bionetworks/schematic/pull/1006
@adamjtaylor @aclayton555 @clarisse-lau

[2022-11-11 20:32] aclayton555 commented on #38
Thanks @GiaJordan ! Note that HTAN DCC team would like to leave this issue open until we can confirm this issue has been resolved with the contributor. This process helps us close the loop with contributors.
@adamjtaylor or @clarisse-lau are there any additional steps required before we can reach out to our Vanderbilt contributor to confirm whether they are now able to successfully submit?

[2022-11-11 20:36] GiaJordan commented on #38
No problem @aclayton555; sorry about the auto closure of the issue!
This change should be included in the next schematic release

[2022-11-11 20:38] aclayton555 commented on #38
Thank you!! To close the loop on the FAIR side, I think this ticket can be closed out @milen-sage : https://sagebionetworks.jira.com/servicedesk/customer/portal/5/IBCSPRT-100
(I know we are still getting familiar with the ticketing/escalation processes, so I hope this makes sense)

[2022-11-14 18:37] #19 closed, assigned to adamjtaylor, milen-sage, mialy-defelice

[2022-11-14 18:53] adamjtaylor opened #39 "Update shiny-deploy action to add testing instance"
As discussed in 11/14 FAIR/HTAN stakeholder meeting the shiny-deploy action needs to be updated to include a testing instance.

[2022-11-15 14:11] adamjtaylor commented on #38
schematic v22.11.2 is scheduled for release tomorrow, 2022-11-15. Will redeploy staging to confirm this fixes. Then scheduled to roll up to production at end of current sprint.

[2022-11-15 14:25] adamjtaylor commented on #39
Additionaly the action currently genrates two warnings

Node.js 12 actions are deprecated. For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/. Please update the following actions to use Node.js 16: actions/checkout@v2, r-lib/actions/setup-pandoc@v1

[2022-11-15 17:52] adamjtaylor opened #40 "Add new components to config"
- [x] scMc-seq Level 1
- [x] scMC-seq Level 2
- [x] scDNA-seq Level 1
- [x] scDNA-seq Level 2
- [x] RPPA level 3
- [x] RPPA level 4
- [ ] Check for any others

[2022-11-17 13:12] adamjtaylor opened #41 "shiny-deploy fails"
Manual activation of the shiny-deploy workflow fails with the error:

[code]

https://github.com/ncihtan/HTAN-data-curator/actions/runs/3488295771/jobs/5837162891#step:12:41

[2022-11-17 13:20] adamjtaylor commented on #41
stringr is being installed it seems:
https://github.com/ncihtan/HTAN-data-curator/actions/runs/3488295771/jobs/5837162891#step:7:36

[2022-11-17 13:21] adamjtaylor commented on #41
Although it looks like that installation fails

[code]

[2022-11-17 13:38] adamjtaylor commented on #41
Triggering from a commit rather than the manual deployment also leads to job faliure.
https://github.com/ncihtan/HTAN-data-curator/actions/runs/3488651126/jobs/5837738999

[2022-11-17 13:38] adamjtaylor commented on #41
Note that the action was running successfully as of 2 days ago
For example: https://github.com/ncihtan/HTAN-data-curator/actions/runs/3470945037/jobs/5800318318#step:7:493

[code]

[2022-11-17 13:41] adamjtaylor commented on #41
FYI @aclayton555, @elv-sb and @milen-sage.
I am going to open a FAIR service desk ticket on this as it is blocking https://github.com/ncihtan/data-release-tracker/issues/486 for data release 3 which needs https://github.com/ncihtan/data-models/pull/128 to be used in staging.

[2022-11-17 13:51] adamjtaylor commented on #41
D&T service desk Work Request for FAIR data opened for this: [IBCSPRT-107](https://sagebionetworks.jira.com/servicedesk/customer/portal/5/IBCSPRT-107?created=true)

[2022-11-17 19:39] adamjtaylor commented on #41
A fix was deployed in https://github.com/Sage-Bionetworks/data_curator/releases/tag/v22.11.2 and this is now in staging. Thank you @milen-sage and @afwillia!

[2022-11-17 19:39] #41 closed, assigned to adamjtaylor

[2022-11-18 17:51] clarisse-lau commented on #38
Thanks all! Is the fix for this issue now implemented in staging?

[2022-11-18 17:56] adamjtaylor commented on #38
Looks like it was released yesterday but after I last rebuilt staging.
Have set off rebuild so should be in staging once this action is complete
https://github.com/ncihtan/HTAN-data-curator/actions/runs/3499115116

[2022-11-18 17:56] clarisse-lau commented on #38
Perfect, thank you!

[2022-11-18 18:26] clarisse-lau commented on #38
I was able to submit both manifests in staging.
Thanks again @GiaJordan @adamjtaylor !

[2022-11-18 18:26] #38 closed, assigned to adamjtaylor

[2022-11-18 18:31] aclayton555 commented on #38
Awesome! Thank you all! @clarisse-lau will you also follow-up with the center. I think you were looped into the initial email thread referenced in this ticket: https://sagebionetworks.jira.com/browse/HTAN-135

[2022-11-18 18:33] clarisse-lau commented on #38
Thanks to you as well @aclayton555!

Marisol had actually reached out previously in a smaller thread about the same issue, which I've responded to.

[2022-11-18 18:40] GiaJordan commented on #38
You're welcome @clarisse-lau!

[2022-11-21 23:38] clarisse-lau opened #42 "Unable to update HTAPP Biospecimen manifests"
**Describe the bug**
I'm attempting to update 3 HTAPP biospecimen manifests through staging. All three pass validation, but the app disconnects after ~10sec at the submission step.

**To Reproduce**
Steps to reproduce the behavior:
Upload HTAPP biospecimen_neuroblastoma, biospecimen_lung, biospecimen_breast manifests

[htapp_bios_neuroblastoma.csv](https://github.com/ncihtan/HTAN-data-curator/file

[2022-11-22 09:01] adamjtaylor commented on #42
Thanks for reporting @clarisse-lau
Weirdly this looks like it was a synapse authentication error.

[code]

[2022-11-22 09:09] adamjtaylor commented on #42
I was able to successfully submit the neuroblastoma table provided above in staging.
@clarisse-lau  - Can you try logging in and out of synapse before accessing DCA and see if you can resubmit the others successfully

[2022-11-22 16:07] clarisse-lau commented on #42
Thanks Adam! I just tried logging in and out, but am still getting disconnected after a while at submission (for both breast and lung manifests)... any other tips?

[2022-11-22 16:18] clarisse-lau commented on #42
Just tried the following with schematic CLI

`schematic model --config config.yml submit --manifest_path htapp_bios_lung.csv --dataset_id syn25585684`

and got the following: `error: 'syn25585684' is not in the asset view (or file view for Synapse user)`

[2022-11-22 16:20] adamjtaylor commented on #42
Interesting. Let's check on the fileview scope here

[2022-11-22 16:32] clarisse-lau commented on #42
Ah sorry- I had the wrong fileview specified in config! I'm now able to submit the lung and breast manifests.

Still having trouble with the app, but will close for now. Thanks @adamjtaylor

[2022-11-22 16:32] #42 closed, assigned to adamjtaylor

[2022-11-22 16:34] adamjtaylor commented on #42
Great!

[2022-11-28 16:01] adamjtaylor opened #45 "Set ImagingLevel4 in config from `assay` to `file`"
https://github.com/ncihtan/HTAN-data-curator/blob/bec253f5dc0d688ece47e2c40f4b55989cbe6e9d/www/config.json#L91

[2022-11-28 19:48] adamjtaylor commented on #45
Fixed in #46 but escalate to FAIR to raise if `assay` and `file` are expected to behave the same and play nice if both are used.

[2022-11-28 19:48] #45 closed, assigned to adamjtaylor

[2022-11-28 19:48] #40 closed, assigned to adamjtaylor

[2022-11-29 09:32] adamjtaylor opened #47 "Turn off Data Dashboard in production"
our update to https://github.com/Sage-Bionetworks/data_curator/releases/tag/v22.11.3 turns on the data dashboard.

I imagine this will result in quite a few questions from centers about data completeness. I have some already.

I would like to explore the possibility of hiding the data daashboard in production until there is appropriate documentation for centers and we can properly launch the featu

[2022-11-29 09:39] adamjtaylor opened #48 "Data Dashboard causes disconnect for HTAN Duke project"
Reproduce in v22.11.1 production DCA. Select HTAN Duke project. Open data dashboard
`Loading, please wait....` shows for a few minutes before `Disconnected from server` error shows
![Screenshot 2022-11-29 at 09 37 27](https://user-images.githubusercontent.com/14945787/204493250-c3c68717-4925-42d7-a1d4-bb8721ac3cda.jpg)

[code]

[2022-11-29 09:41] adamjtaylor commented on #47
Related issues:
- #49
- #48
- #52 (this seems to be different from the others)
- #53
- #54
- #55
- #56
- #57
- #58
- https://github.com/ncihtan/HTAN-Data-Ingress-Docs/issues/31

[2022-11-29 09:49] adamjtaylor opened #49 "Data Dashboard points towards old manifests"
Eg Dashboard for HTAN Stanford links out to [syn25539988](https://www.synapse.org/#!Synapse:syn25539988) - `synapse_storage_manifest.csv`
Should point to [syn39283683](https://www.synapse.org/#!Synapse:syn39283683) - `synapse_storage_manifest_biospecimen.csv`

[2022-11-29 09:50] adamjtaylor commented on #49
This may be solved by moving the old manifests into the archive per [IBCSPRT-106](https://sagebionetworks.jira.com/servicedesk/customer/portal/5/IBCSPRT-106) but we would want to confirm

[2022-11-29 10:02] adamjtaylor opened #50 "Confirm config.json behavior"
DCA v22.11.3 added in some further documentation about how `confiig.json` can be used.
https://github.com/Sage-Bionetworks/data_curator/blob/main/docs/app_configuration.md

it seems to suggest that we can us a `repo` key in `schematic_config.yaml` rather than `download_url` and then use `schema_version` in `config.json` to specify a schema version.

[2022-11-29 10:03] adamjtaylor opened #51 "Add action to triage HTAN-data-curator new issues into backlog"
As already used for data-models repo

[2022-11-29 10:14] adamjtaylor commented on #48
In the full logs there are hundreds of errors being generated all of the same form.
I wonder if this is timing out?

[2022-11-29 10:17] adamjtaylor opened #52 "Data Dashboard causes disconnect for HTAN BU"
On opening Data Dashboard for HTAN BU project get a disconnect within  a few seconds

[code]

[2022-11-29 10:21] adamjtaylor opened #53 "Data Dashboard causes disconnect for HTAN DFCI"
Logs suggest maybe similar in cause to #48

[code]

[2022-11-29 10:28] adamjtaylor opened #54 "Data Dashboard causes disconnect for HTAN HMS"
Logs suggest this is similar to #53 and #48

[code]

[2022-11-29 10:52] adamjtaylor opened #55 "Data Dashboard causes disconnect for HTAN HTAPP"
[code]

[2022-11-29 10:54] adamjtaylor opened #56 "Data Dashboard causes disconnect for HTAN MSK"
Logs
[code]

[2022-11-29 11:05] adamjtaylor opened #57 "Data Dashboard causes disconnect for HTAN TNP - TMA"
Logs
[code]

[2022-11-29 11:09] adamjtaylor opened #58 "Data Dashboard causes disconnect for HTAN Vanderbilt"
Logs

[code]

[2022-11-29 15:57] adamjtaylor opened #60 "Template name is prefixed by a space"
Reported by Duke in HTAN service desk ticket [HTAN-141](https://sagebionetworks.jira.com/jira/servicedesk/projects/HTAN/queues/custom/1/HTAN-141)

To reproduce:
- In production DCA select "HTAN Duke", "clinical_diagnosis" folder and "Diagnosis" template
- Generate template and click through to Google Sheet
- See that document name is " Diagnosis" (note space at front)

![Screenshot 2022-11-29 at 1

[2022-11-29 16:33] adamjtaylor commented on #60
I think this would be categorised as `escalate`.... its probably a FAIR data task. I'm not sure what the expected behavior is. Most templates seem to have the form `HTAN <component>`

[2022-11-29 16:45] adamjtaylor commented on #47
FYI @milen-sage -  we hare having some issues with the Data Dashboard in production.
Is it possible to selectively remove the Dashboard module to make sure we have the other fixes in data_curator v22.11.3 deployed, or are we best to revert to be level with data_curator v22.11.2 as per the draft PR linked.

When working the dashboard looks great but I think we should hold it to launch at a steering

[2022-11-29 17:58] adamjtaylor commented on #47
Confirming that we are going to revert per the PR above

[2022-11-29 18:02] adamjtaylor commented on #47
- [x] Merged
- [x] Kicks off action that deploys this to staging https://github.com/ncihtan/HTAN-data-curator/actions/runs/3576731275
- [x] Action successful
- [x] Check that staging has removed the dashboard and seems to be functioning
- [x] Make a draft release tagged v22.11.2. Note that this reverts us to DCA v22.11.2
- [x] Wait for action to complete https://github.com/ncihtan/HTAN-data-curato

[2022-11-29 19:02] milen-sage commented on #47
@adamjtaylor I can confirm that reverting to codebase in the `main` branch of the DCA upstream (i.e. v22.11.2) would get the bug fixes noted in v22.11.3; you'd only be missing the dashboard features and suppression of warning messages in the log. The steps above are good to go!

[2022-11-29 19:03] elv-sb commented on #47
@milen-sage we just completed the actions above. I can confirm that production looks ok again.

[2022-11-29 19:03] milen-sage commented on #47
@adamjtaylor and @elv-sb could you start gh issues for the bugs/features you'd like to see with the dashboard (aside from docs - we are planning on that work)? Thanks!

[2022-11-29 19:04] elv-sb commented on #47
@milen-sage we can add those during our next sprint. Thank you!

[2022-11-30 01:27] milen-sage commented on #47
Thanks @elv-sb! Meanwhile feel free to explore more of the dashboard in the testing HTAN instance. Once we finish the docs on how schema validation rules are reflected in the dashboard and how the dashboard results can be interpreted we can have a dashboard exploration/play meeting. But certainly agreed with you and @adamjtaylor that we don't want to scare centers, if they see a bunch of their met